.layout{
  min-height: 100vh;
}

.header{
  background-color: white;
}

.sidebar{
  color: white;
}

.logo{
  display: block;
  padding: 20px 20px 0;
  color: white;
  font-size: 18px;
  min-width: max-content;
  overflow: hidden;
}

.menu{
  text-transform: capitalize
}